@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  height: 10vh;
}

body {
  background-color: #2b2b2b;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  height: 10vh;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: block;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: block;
}

.ButtonPrimary {
  background-color: #12a2cf;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 360px;
}

.ButtonSecondary {
  background-color: #aaaaaa;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 360px;
}

.ButtonDisabled {
  background-color: #f5f5f5;
  color: #aaaaaa;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 360px;
}

.CheckboxChecked {
  background-color: #12a2cf;
  padding: 8px;
  margin-right: 16px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.CheckboxUnchecked {
  background-color: #12a2cf;
  padding: 8px;
  margin-right: 16px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.CheckboxDisabled {
  background-color: #12a2cf;
  padding: 16px;
  margin-right: 16px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.CheckedLabel {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.UncheckedLabel {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  display: inline-block;
}

.CheckboxDisabledLabel {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.HorizontalDivider {
  border: 0;
  border-top: 3px solid #12a2cf;
  width: 50%;
  margin-left: 16px;
  margin-right: 16px;
}

.VerticalDivider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
  border-top: 100vh solid #12a2cf;
  width: 3px;
  margin-left: 16px;
  margin-right: 16px;
}

.HorizontalDividerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.VerticalDividerLabel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.TextArea {
  padding: 8px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 184px;
  width: 100%;
  border-bottom-width: 4px;
  border-bottom-color: #12a2cf;
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}

.TextInput {
  padding: 8px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 48px;
  width: 100%;
  border-width: 0;
  border-bottom-width: 4px;
  border-bottom-color: #12a2cf;
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}

.TitleDescription {
  font-weight: 400;
  font-size: 16px;
  color: #c4c4c4;
  display: block;
}

.bodyText {
  font-weight: 600;
  font-size: 16px;
  display: block;
}

.SideBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 5vw;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000000;
  padding: 8px;
}

.SideBarIcon {
  max-width: 64px;
  padding: 8px;
  margin-bottom: 16px;
}

.MainContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11fr;
      grid-template-columns: 1fr 11fr;
  -ms-grid-rows: 5vw 100%;
      grid-template-rows: 5vw 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.MainContainerSideBar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.MainContainerHeader {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
}

.MainContainerBody {
  padding-left: 64px;
  padding-right: 64px;
  margin-top: 32px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.NewQuestionaireButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  padding-bottom: 48px;
  border-style: dashed;
  border-color: #c4c4c4;
  border-width: 2px;
  border-radius: 16px;
}

.NewQuestionaireButtonContainer img {
  max-width: 192px;
  padding-bottom: 16px;
}

.QcardContainer {
  color: #000000;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.QcardContainer label {
  position: relative;
  top: 8px;
}

.QcardContainer img {
  padding-left: 16px;
}
/*# sourceMappingURL=styles.css.map */