@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./reset.scss";

// Colours
$color-primary: #12a2cf;
$color-secondary: #aaaaaa;
$color-accent: #c4c4c4;
$color-background-extra-dark: #000000;
$color-background-dark: #2b2b2b;
$color-background-light: #f5f5f5;
$color-text: #ffffff;
$color-text-dark: #000000;
$color-textInputField: rgba(0, 0, 0, 0.25);

//Typography
$font-family: "Inter", sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$spacingUnit: 8px;

html{
    height: 10vh;
}

body {
  background-color: $color-background-dark;
  font-family: $font-family;
  color: $color-text;
  height: 10vh;
}

h1 {
  font-weight: $bold;
  font-size: $spacingUnit * 5;
  line-height: $spacingUnit * 6;
  display: block;
}

h2 {
    font-weight: $semibold;
    font-size: $spacingUnit * 3;
    line-height: $spacingUnit * 4;
    display: block;
  }

h3{
  font-weight: $bold;
  font-size: $spacingUnit * 4;
  line-height: $spacingUnit * 5;
  display: block;
}

.TitleDescription {
  font-weight: $normal;
  font-size: $spacingUnit * 2;
  color: $color-accent;
  display: block;
  line-height: $spacingUnit * 2.5;
}

.bodyText{
    font-weight: 600;
    font-size: $spacingUnit * 2;
    display: block;
}


.ButtonPrimary {
  background-color: $color-primary;
  color: $color-text;
  border-width: 0;
  padding-top: $spacingUnit *1.5;
  padding-bottom: $spacingUnit *1.5;
  padding-left: $spacingUnit *10;
  padding-right: $spacingUnit *10;
  font-family: $font-family;
  font-size: $spacingUnit * 2;
  font-weight: bold;
  width: 100%;


}

.ButtonSecondary {
  background-color: $color-secondary;
  color: $color-text;
  border-width: 0;
  padding-top: $spacingUnit *1.5;
  padding-bottom: $spacingUnit *1.5;
  padding-left: $spacingUnit *10;
  padding-right: $spacingUnit *10;
  font-family: $font-family;
  font-size: $spacingUnit * 2;
  font-weight: bold;
  width: 100%;
}

.ButtonDisabled {
  background-color: $color-background-light;
  color: $color-secondary;
  border-width: 0;
  padding-top: $spacingUnit *1.5;
  padding-bottom: $spacingUnit *1.5;
  padding-left: $spacingUnit *10;
  padding-right: $spacingUnit *10;
  font-family: $font-family;
  font-size: $spacingUnit * 2;
  font-weight: bold;
  width: 100%;
}

.CheckboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: $spacingUnit * 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.CheckboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.CheckboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.CheckboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CheckboxContainer .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.HorizontalDivider {
  // flex-direction: row;
  border: 0;
  border-top: 3px solid $color-primary;
  width: 50%;
  margin-left: $spacingUnit * 2;
  margin-right: $spacingUnit * 2;
}

.VerticalDivider {
  flex-direction: column;
  border: 0;
  border-top: 30vh solid $color-primary;
  width: 3px;
  // height: 100vh;
  margin-left: $spacingUnit * 2;
  margin-right: $spacingUnit * 2;
  // border: 0;
  // border-left: 6px solid $color-primary ;
  // height: 500px;
  // position: absolute;
  // left: 50%;
  // margin-left: -3px;
  // top: 0;
}

.HorizontalDividerLabel {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: $font-family;
  font-weight: bold;
  font-size: $spacingUnit * 3;
}

.VerticalDividerLabel {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  // text-align: center;
  font-family: $font-family;
  font-weight: bold;
  font-size: $spacingUnit * 3;
}

.TextArea {
  padding: $spacingUnit;
  color: $color-text;
  font-family: $font-family;
  font-weight: $normal;
  font-size: $spacingUnit * 2;
  height: $spacingUnit * 23;
  width: 100%;
  border-width: 0;
  border-bottom-width: $spacingUnit / 2;
  border-bottom-color: $color-primary;
  margin-top: $spacingUnit * 2;
  background-color: $color-textInputField;
  display: block;
}

.TextInput {
  padding: $spacingUnit;
  color: $color-text;
  font-family: $font-family;
  font-weight: $normal;
  font-size: $spacingUnit * 2;
  height: $spacingUnit * 6;
  width: 100%;
  border-width: 0;
  border-bottom-width: $spacingUnit / 2;
  border-bottom-color: $color-primary;
  margin-top: $spacingUnit * 2;
  background-color: $color-textInputField;
  display: block;
}



.SideBarContainer {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 5vw;
  
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: $color-background-extra-dark;
  padding: $spacingUnit;
}

.SideBarIcon {
  max-width: $spacingUnit * 8;
  padding: $spacingUnit * 1;
  margin-bottom: $spacingUnit * 2;
}

.RespondentFormatContainer {
  margin-top: $spacingUnit * 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.RespondentFormatLeft {
  // height: 100vh;
  border: 1px solid $color-primary;
  padding: $spacingUnit *3;
  padding-bottom: $spacingUnit * 8;
  margin-right: $spacingUnit * 3;
  grid-area: 1 / 1 / 2 / 2;
}

.RespondentFormatRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100vh;
  margin-left: $spacingUnit * 3;
  grid-area: 1 / 2 / 2 / 3;
}

.TextQuestionContainer {
  margin-top: $spacingUnit * 6;
  display: grid;
grid-template-columns: 1.5fr 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.TextQuestionLeft {
  // height: 100vh;
  border-right: 1px solid $color-primary;
  // padding: $spacingUnit *3;
  padding-right: $spacingUnit * 8;
  margin-right: $spacingUnit * 3;
  grid-area: 1 / 1 / 2 / 2;
}

.TextQuestionRight {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // height: 100vh;
  margin-left: $spacingUnit * 3;
  grid-area: 1 / 2 / 2 / 3;;
}

.TextQuestionBottom {
  margin-top: $spacingUnit * 6;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding-top: $spacingUnit * 8;
  border-top: 1px solid $color-primary;
  // height: 100vh;
  // margin-left: $spacingUnit * 3;
  grid-area: 2 / 1 / 3 / 3;
}

.MainContainer {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 5vw 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.MainContainerSideBar {
  grid-area: 1 / 1 / 3 / 2;
}
.MainContainerHeader {
  grid-area: 1 / 2 / 2 / 3;
  padding-left: $spacingUnit * 8;
  padding-right: $spacingUnit * 8;
 
}
.MainContainerBody {
  padding-left: $spacingUnit * 8;
  padding-right: $spacingUnit * 8;
  margin-top: $spacingUnit * 4;
  grid-area: 2 / 2 / 3 / 3;
}



.NewQuestionaireButtonContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        max-width: $spacingUnit * 24;
        padding-bottom: $spacingUnit * 2;
    }

    padding: $spacingUnit * 2;
    padding-bottom: $spacingUnit * 6;
    padding-top: $spacingUnit * 4;

    border-style: dashed;
    border-color: $color-accent;
    border-width: $spacingUnit * 0.25;
    border-radius: $spacingUnit * 2;

    margin-bottom: $spacingUnit * 4;

}

.QcardContainer{
    color: $color-text-dark;
    background-color: $color-background-light;
    display: flex;
    align-content: center;
    padding: $spacingUnit * 1.5 ;
    justify-content: space-between;
    
    margin-top: $spacingUnit * 2;

    label{
        position: relative;
        top : $spacingUnit
    }

    img{
        padding-left: $spacingUnit * 2;
    }
    
}

.QCardArrayContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: $spacingUnit * 4;
}


.PaginationProgressContainer{
 
  div{
    height: $spacingUnit * 3;
    width: $spacingUnit * 3;
    background-color: $color-accent;
    border-radius: 50%;
    display: inline-block;
    margin-left: $spacingUnit;
    margin-right: $spacingUnit;
  }

  .PaginationProgressActive{
    background-color: $color-primary;
  }
  .PaginationProgressPassive{
    background-color: $color-accent;
  }
}


.BigIconButtonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  width: 100%;

  padding: $spacingUnit;

  h3 , label {
    text-align: center;
    position: relative;
    right:  $spacingUnit * 2;
    max-width: $spacingUnit * 30;
  }

  img{
    margin-top: $spacingUnit * 3;
    margin-bottom: $spacingUnit * 2;
    width: 100%;
    max-width: $spacingUnit * 30;
    align-self: center;
  }
}


.SectionSideBarContainer{

  display: flex;
  flex-direction: column;
  background-color: #4D4A4A;
}

.SectionSideBarItem{
  padding-top: $spacingUnit * 2;
  padding-bottom: $spacingUnit;
  padding-left: $spacingUnit * 2;
  font-weight: $semibold;
  padding-bottom: $spacingUnit * 3;
}

.SectionSideBarItemSelected{
  background-color: $color-background-dark;
}

.QuestionNumber{
  height: $spacingUnit * 4;
  width: $spacingUnit * 4;
  background-color: $color-background-extra-dark;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: $spacingUnit;

  label{
    color: $color-text;
    font-size: $spacingUnit * 2;
    font-weight: $semibold;
    text-align: center;
    display: block;
  }
}

.QuestionContainer{
  background-color: $color-background-light;
  padding: $spacingUnit;
}
.QuestionHeader{
  color: $color-text-dark;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  
  .BodyText{
    flex-grow: 3;
    padding-left: $spacingUnit * 2;
    line-height: $spacingUnit * 2.5;
    font-weight: $semibold;
    font-size: $spacingUnit * 2;
  }

  .QuestionNumber{
    align-self: flex-start;
  }

}
.QuestionControls{

  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  img{
    padding-left: $spacingUnit * 0.5;
    padding-right: $spacingUnit * 0.5;   
    max-height: $spacingUnit * 4;
    min-height: $spacingUnit ;
  }

}